<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">WikiGroup</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/team}">Equipo</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/project}">Proyecto</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/contacto}">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/architecture}">Arquitectura</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>