<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Arquitectura - WikiGroup</title>
    <link th:href="@{/css/menu.css}" rel="stylesheet">
    <link th:href="@{/css/arqui.css}" rel="stylesheet">

</head>
<body>
    <div th:replace="fragments/menu :: menu"></div>
    <main>
        <h1>Arquitectura del Proyecto</h1>
        <section>
            <h2>Diagramas</h2>
            <h2>arquitectura</h2>
            <img th:src="@{/fotos/Diagrama_ARQUI.png}" alt="diagrama1">
          <p> en el siguiente diagrama.......</p>
            <h2>clases</h2>
            <img th:src="@{/fotos/dia2.png}" alt="diagrama2">
            <p> en el siguiente diagrama.......</p>
            <h2>secuencias</h2>
            <img th:src="@{/fotos/dia3.png}" alt="diagrama 3">
            <p> en el siguiente diagrama.......</p>
            <!--Agregar diagramas sobre la arquitectura del proyecto tipo parrafo-->
        </section>
        <section>
            <h2>Modelos</h2>

            <img th:src="@{/fotos/modelos.png}" alt="diagrama4">
            <p>Albion online es un mmorpg no lineal,<br>
                 en el que escribes tu propia historia sin limitarte<br>
                  a seguir un camino prefijado, explora un amplio mundo abierto con 5 biomas únicos,<br>
                   todo cuanto hagas tendrá su repercusión en el mundo, con la economía orientada al<br>
                    jugador de Albión, los jugadores crean prácticamente todo el equipo a partir de<br>
                     los recursos que consiguen, el equipo que llevas define quien eres, cambia de<br>
                      arma y armadura para pasar de caballero a mago, o juega como una mezcla de ambas clases,<br>
                       aventúrate en el mundo abierto frente a los habitantes y las criaturas de Albión, inicia <br>
                       expediciones o adéntrate en mazmorras en las que encontrarás enemigos aún más difíciles, <br>
                       enfréntate a otros jugadores en encuentros en el mundo abierto, lucha por los territorios <br>
                       o por ciudades enteras en batallas tácticas, relájate en tu isla privada, donde podrás<br>
                        construir un hogar cultivar cosechas y criar animales, únete a un gremio, todo es mejor<br>
                         cuando se trabaja en grupo, adéntrate ya en el mundo de Albión y escribe tu propia historia</p>
        </section>
    </main>
</body>
</html>