<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Arquitectura - WikiGroup</title>
    <link th:href="@{/css/menu.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/menu :: menu"></div>
    <main>
        <h1>Arquitectura del Proyecto</h1>
        <section>
            <h2>Diagramas</h2>
            <!--Agregar diagramas sobre la arquitectura del proyecto tipo parrafo-->
        </section>
        <section>
            <h2>Modelos</h2>
            <!--Describir los modelos y relaciones tipo parrafo-->
        </section>
    </main>
</body>
</html>