<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Despliegue - WikiGroup</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/menu :: menu"></div>
    <main>
        <h1>Despliegue del Proyecto</h1>
        <section>
            <h2>Versiones</h2>
            <!--describir las versiones del proyecto y cómo se han desplegado en tipo parrafo-->
        </section>
        <section>
            <h2>Instrucciones</h2>
            <!--Intrucciones de despliegue en tipo parrafo-->
        </section>
    </main>
</body>
</html>