<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Proyecto - WikiGroup</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/menu :: menu"></div>
    <main>
        <h1>Descripción del Proyecto</h1>
        <section>
            <h2>Requerimientos</h2>
            <!-- Descripcion de requerimientos en tipo parrafo -->
        </section>
        <section>
            <h2>Funcionalidades</h2>
            <!-- Funcionalidades del proyecto en tipo parrafo -->
        </section>
    </main>
</body>
</html>