<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Proyecto - WikiGroup</title>
    <link th:href="@{/css/menu.css}" rel="stylesheet">
    <link th:href="@{/css/projectInfo.css}" rel="stylesheet">
    
</head>

<body>
    <div th:replace="fragments/menu :: menu"></div>
    <main>
        <h1>Descripción del Proyecto</h1>
        <section>
            <h2>Requerimientos</h2>
            <!-- Descripcion de requerimientos en tipo parrafo -->
            <div class="toggle">
                <button class="toggle-btn">Requerimiento 1</button>
                <div class="toggle-content">
                    <p>Información del requerimiento 1</p>
                </div>
            </div>
            <div class="toggle">
                <button class="toggle-btn">Requerimiento 2</button>
                <div class="toggle-content">
                    <p>Información del requerimiento 2</p>
                </div>
            </div>
        </section>
        <section>
            <h2>Funcionalidades</h2>
            <!-- Funcionalidades del proyecto en tipo parrafo -->
            <div class="toggle">
                <button class="toggle-btn">Diccionario</button>
                <div class="toggle-content">
                    <p>Diccionario de datos</p>
                    <p>Usuario</p>
                    <img th:src="@{/fotos/usu.jpeg}" alt="dic2">
                    <p>Propiedad</p>
                    <img th:src="@{/fotos/prop.jpeg}" alt="dic2">
                    <p>SolicitudArriendo</p>
                    <img th:src="@{/fotos/solicitud.jpeg}" alt="dic3">
                    
                </div>
            </div>
            <div class="toggle">
                <button class="toggle-btn">Daily</button>
                <div class="toggle-content">
                    <p>4 DE MARZO</p>
                    <img th:src="@{/fotos/Daily1.png}" alt="daily 1">
                    <p>6 DE MARZO</p>
                    <img th:src="@{/fotos/603.png}" alt="daily 2">
                    <p>13 DE MARZO</p>
                    <img th:src="@{/fotos/13.png}" alt="daily 3">
                    <p>19 DE MARZO</p>
                    <img th:src="@{/fotos/19.png}" alt="daily 4">
                    <p>21 DE MARZO</p>
                    <img th:src="@{/fotos/21.png}" alt="daily 5">
                    <p>23 DE MARZO</p>
                    <img th:src="@{/fotos/23.png}" alt="daily 6">
                    <p>25 DE MARZO</p>
                    <img th:src="@{/fotos/25.png}" alt="daily 7">
                    <p>Stats</p>
                    <img th:src="@{/fotos/stats.jpeg}" alt="stats">
                    <p>1 DE MARZO</p>
                    <img th:src="@{/fotos/104.png}" alt="daily 8">
                    <p>3 DE MARZO</p>
                    <img th:src="@{/fotos/3_abril.png}" alt="daily 8">
                </div>
            </div>
        </section>
    </main>
    <!-- Scripts -->
    <script th:src="@{/js/projectDescription.js}"></script>
</body>

</html>