<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pruebas - WikiGroup</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/menu :: menu"></div>
    <main>
        <h1>Pruebas del Proyecto</h1>
        <section>
            <h2>Casos de Prueba</h2>
            <!--Describir casos de prueba (frontend y backend) tipo parrafo-->
        </section>
        <section>
            <h2>Resultados</h2>
            <!--Imagenes de resultados y/0 descripciones-->
        </section>
    </main>
</body>
</html>